/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0F
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/

.storename {
    padding: 0px;
    list-style: none;
}
.topBar .fl-rich-text .storename .phone a span:before {
    text-indent: 0;
    content: "\f095";
    font: normal normal normal 18px/1 FontAwesome;
    margin-top: 2px;
    margin-right: 10px;
}
.fl-module .gform_wrapper .gfield .ginput_container_select select.gfield_select  {
	margin-top: 0px!important;
}
.facet_filters .facet-wrap>strong {
    padding-bottom: 3px;
    border-bottom: 2px solid #000!important;
    color: #000;
}
.fl-content-slider .fl-content-slider-wrapper .fl-slide .fl-slide-text > p {
	margin: 0px!important;
	display: none;
}
.storename p,
.storename span {
    margin: 0px !important;
}

ul.store-opening-hrs {
    list-style: none;
    padding: 0px;
}
li.uabb-tab-current a span {
    border-bottom: 5px solid #00226C;
}
nav.uabb-tabs-nav {
    padding-bottom: 30px;
}
.p-issue .fl-rich-text > p{
	display: none !important;
}
.pos-relative{
	position:relative !important;
}
.man-img .fl-col-content {
    position: absolute;
    max-width: 540px;
    top: -190px;
    z-index: 99;
    left: 10%;
}
.p-issue .storename {
    margin-bottom: -5px;
}
.fl-slide-0 .fl-slide-content-wrap > .fl-slide-content > .fl-slide-text > p{
	display: none !important;
}
#menu-footer-main-nav{
	display: flex;
    align-items: center;
    justify-content: space-between;
}
#menu-footer-main-nav li{
	width: 100% !important;
}
#menu-footer-main-nav li:first-child{
	text-align: left
}
#menu-footer-main-nav li:last-child{
	text-align: right
}
/* .fl-post-grid-gallery{
    background-size: contain!important;
    background-position: center center!important;
} */


.fl-page-header-primary .fl-logo-img {
    max-width: 70%;
}
.gform_wrapper .gfield_checkbox li input,
.gform_wrapper .gfield_checkbox li input[type=checkbox],
.gform_wrapper .gfield_radio li input[type=radio] {
    margin: 2px!important;
    vertical-align: top;
}
/* light product css start here */
.single-lighting_product .product-detail-layout-6 .product-box h1 {
    font-weight: 700;
    font-size: 24px;
	margin-bottom: 10px;
}
.single-lighting_product .product-box h4 {
    font-weight: 700;
    font-size: 22px;
}
.single-lighting_product .product-box table th {
    font-weight: 700;
    font-size: 18px;
	width: 180px;
}
.single-lighting_product .product-box table {
    width: 100%;
}
.single-lighting_product .product-detail-layout-6 {
    padding-top: 60px!important;
	padding-bottom: 60px!important;
}
.single-lighting_product .product-detail-layout-6 hr {
    border-top: 1px solid #000;
}
.single-lighting_product .product-box table tr.buttonTOshow > th {
    padding: 10px 0px;
    color: #173384;
}
.single-lighting_product .product-box table tr.buttonTOshow {
   cursor: pointer;
}
.single-lighting_product .product-swatch img{
	max-width: 500px;
}
/* light product css end here */
.fl-slide.fl-slide-3 .fl-slide-photo-wrap .fl-slide-photo {
	margin-top: 90px!important;
}
.fl-post.post  .fl-post-image-beside, .fl-post.post .fl-post-image-beside a , .fl-post.post .fl-post-image-beside a img    {
	width: 100%;
}
.location-top .storename li .direction a {
	padding: 20px!important;
}
@media (min-width: 992px) { 
.homeSlider .fl-module-content-slider .bx-viewport{
	height: auto!important;
}
}
@media (max-width:1080px) {
    .active-gallery-modal .fl-row-content-wrap .col-md-8 {
        width: 63%!important;
    }
    .active-gallery-modal .fl-row-content-wrap .col-md-4 {
        width: 25%!important;
    }
    .fl-page-header-primary .fl-logo-img {
        max-width: 90%!important;
    }
    .fl-page-nav .navbar-nav li>a {
        font-size: 14px;
        padding: 15px 5px;
    }
	.homeLoc .fl-col-group > .fl-col {
		width: 100%!important;
	}
}

@media(max-width:992px) {
    .fl-page-nav-search {
        display: block!important;
    }
}

@media (max-width:768px) {
    .facet_filters {
        position: static;
        width: auto;
        box-shadow: none;
    }
    .facet_filters .close_bar,
    .open_sidebar,
    .close_sidebar_button {
        display: none;
    }
    .facetwp-per-page,
    .facetwp-pager {
        text-align: right !important;
    }
    #product-list-top-filters .fl-heading,
    .facetwp-counts {
        text-align: left !important;
    }
    #product-list-top-filters .fl-col-group .fl-col {
        width: 32%!important;
    }
    #product-list-top-filters .fl-col-group .fl-col:last-child {
        width: 34%!important;
    }
    .facetwp-page {
        margin-right: 3px!important;
    }
    .fl-page-header-primary .fl-logo-img {
        max-width: 40%!important;
    }
    .fl-page-header-logo {
        margin: 10px 0;
    }
    .facetwp-checkbox {
        background-position: 0px 3px!important;
    }
    .active-gallery-modal .product-box a.fl-button {
        margin: 0px auto;
    }
    .gform_widget .gform_wrapper .timeEstimate .gfield_time_ampm select {
        max-width: 60px!important;
        width: 60px!important;
    }
    
    .active-gallery-modal .fl-row-content-wrap .col-md-4 {
        width: 35%!important;
    }
.fl-builder-content .fl-module-content-slider .fl-module-content .fl-content-slider .fl-slide .fl-slide-content {
    padding: 0px!important;
}
.fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-content-wrap {
    width: 100%!important;
}
.fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-text .heading .fl-rich-text p {
    font-size: 32px !important;
	line-height: 1.4em!important;
}
.fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-text .text .fl-rich-text p {
    font-size: 16px !important;
    line-height: 1.4em;
}
.fl-col-content .locationTab .fl-module-content nav.uabb-tabs-nav {
    display: block!important;
}
.locationTab .section .uabb-tab-acc-title {
    display: none!important;
}
}

@media (max-width:767px) {
    .facet_filters {
        position: fixed;
        top: 0px;
        left: -5px;
        width: 80%;
        height: 100%;
        overflow: auto;
        background-color: white;
        z-index: 10;
        left: -1000px;
        -moz-box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.4);
        -webkit-box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.4);
        box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.4);
    }
    .facet_filters .close_bar,
    .open_sidebar,
    .close_sidebar_button {
        display: block;
    }
    .facetwp-per-page,
    .facetwp-pager {
        float: none;
    }
    .facetwp-per-page,
    .facetwp-pager,
    #product-list-top-filters .fl-heading,
    .facetwp-counts {
        text-align: center !important;
    }
    ul.fl-page-bar-nav li {
/*         display: none; */
		display: block;
		padding: 2px 0;
    }
    ul.fl-page-bar-nav li:first-child {
        display: block;
    }
    /* ul.fl-page-bar-nav li:first-child{
        display: block;
    } */
    #responsive-menu-additional-content a {
        color: #fff;
    }
    .responsive-menu-open button#responsive-menu-button {
        position: fixed!important;
    }
    .active-gallery-modal .fl-row-content-wrap .col-md-8 {
        width: 100%!important;
    }
    .active-gallery-modal .fl-row-content-wrap .col-md-4 {
        width: 100%!important;
    }
}
@media(max-width: 768px){
	h1.uabb-infobox-title{
		font-size: 38px !important;
    	line-height: 1.4em!important;
	}
	h2.uabb-infobox-title, h2.uabb-ultb3-title, h2.fl-heading, h2.fl-heading span{
		font-size: 32px !important;
		line-height: 1.4em!important;
	}
	.uabb-imgicon-wrap ~ .uabb-infobox-title-wrap h2.uabb-infobox-title{
		font-size: 16px !important;
		line-height: 1.4em!important;
	}
	h3.uabb-infobox-title, h3.uabb-ultb3-title, h3.fl-heading , h3.fl-heading span {
		font-size: 32px !important;
		line-height: 1.4em!important;
	}
}

@media (max-width:450px) {
    .fl-page-bar .text-right {
        display: none;
    }
    .facetwp-per-page,
    .facetwp-pager {
        text-align: center !important;
    }
    #product-list-top-filters .fl-heading,
    .facetwp-counts {
        text-align: center !important;
    }
    #product-list-top-filters .fl-col-group .fl-col {
        width: 100%!important;
    }
    #product-list-top-filters .fl-col-group .fl-col:last-child {
        width: 100%!important;
    }
    .facetwp-page {
        margin-right: 3px!important;
    }
    .fl-page-header-primary .fl-logo-img {
        max-width: 60%!important;
    }
    button#responsive-menu-button {
        top: 110px!important;
    }
/*     button#responsive-menu-button {
        top: 155px!important;
    } */
    .fl-builder-content .footer-sect-wrap {
        width: 100%!important;
    }
    .fl-page-nav-toggle-button.fl-page-nav-toggle-visible-mobile.fl-page-nav-right .fl-page-header-row .fl-page-header-logo {
        padding-bottom: 0px;
    }
}

@media (max-width:390px) {
    .fl-page-bar {
        font-size: 11px;
    }
}


/* 12-6-2029 */

#label_13_11_1:before {
    background: transparent;
    border: 1px solid #ccc;
    height: 12px;
    width: 12px;
    border-radius: 0px;
    font-size: 9px;
    color: #000;
    padding: 0;
}

.product-detail-layout-5 .product-variations {
    margin-top: 0px !important;
}




#menu-main-menu{
	display: flex;
    align-items: center;
    justify-content: space-between;
}
#menu-main-menu > li{
	padding: 0 20px !important;
	width: 100% !important;
	text-align: center !important;
}
#menu-main-menu > li:hover,
#menu-main-menu > li.current_page_item{
	background: #000000 !important;
}
header input.fl-search-text {
    border-radius: 30px !important;
}
header .fl-search-form-inline .fl-form-field {
    padding-right: 0;
}
.fl-search-form-fields {
	position: relative !important;
}
.fl-search-form-fields > .fl-button-wrap a,
.fl-search-form-fields > .fl-button-wrap a:hover{
	border-radius: 0 100px 100px 0 !important;
   background-color: #E0E0E0 !important;
	padding: 12px 20px !important;
}
.fl-search-form-fields .fl-button-wrap.fl-button-width-auto.fl-button-center.fl-button-has-icon {
    position: absolute;
    right: 0;
}
.fl-builder-content .fl-search-form-fields .fl-button i{
    font-size: 24px !important;
	color: #173384 !important;
}
.pos-relative{
	position: relative !important;
}
.bx-wrapper .bx-controls-auto, .bx-wrapper .bx-pager {
    bottom: 100px !important;
}
.bx-wrapper .bx-pager.bx-default-pager a{
	opacity: 0.66 !important;
  border-radius: 6px !important;
  background-color: #EAEAEA !important;
}
.bx-wrapper .bx-pager.bx-default-pager a.active, .bx-wrapper .bx-pager.bx-default-pager a:focus, .bx-wrapper .bx-pager.bx-default-pager a:hover{
	background-color: #FFFFFF !important;
    opacity: 1 !important;
}
.icon-bg .font-icon-preview{
	background: #fff;
    border-radius: 50%;
    padding: 7px 12px;
	text-align: center;
    margin-left: 20px;
}
.icon-bg .font-icon-preview .fas.fa-arrow-right{
	padding-left: 0px !important;
}
.icon-size-issue .dashicons-arrow-right:before {
    content: "\f139";
    font-size: 30px !important;
    margin-top: -5px;
    margin-left: 10px;
}
.bg-gradient {
    background: linear-gradient(
359.67deg, rgba(255,255,255,0) 0%, #E6E3DE 99.27%, #E6E3DE 100%, rgba(231,228,223,0.98) 100%);
}
.fl-module-content-slider .bx-wrapper {
    margin: 0 auto 0px !important;
}
header input.fl-search-text {
    font-style: italic;
    padding-left: 30px !important;
}
.search-box{
	position: relative;
	z-index: 2;
}
.help-btn a.uabb-button.ast-button.uabb-creative-button.uabb-creative-default-btn{
	display: inline-flex;
	position: fixed;
    bottom: 140px !important;
    right: 0px !important;
	z-index: 99999;
}
.help-btn span.uabb-button-text.uabb-creative-button-text{
	padding-left: 10px;
    padding-right: 20px;
}
.help-btn .fa-comment-dots{
	font-size: 33px !important;
}
.icon-bg strong{
	border-bottom: 1px solid #fff;
}
a.slider-next:after {
    -webkit-font-smoothing: antialiased;
    font-variant: normal;
    text-rendering: auto;
    color: #fff;
    content: "\f061";
    width: 30px;
    display: inline-block;
    text-align: right;
    margin-right: 10px;
    font: normal normal normal 30px /1 FontAwesome !important;
}
a.slider-prev:after {
	 -webkit-font-smoothing: antialiased;
    font-variant: normal;
    text-rendering: auto;
    color: #fff;
    content: "\f060";
    width: 30px;
    display: inline-block;
    text-align: right;
    margin-right: 10px;
    font: normal normal normal 30px /1 FontAwesome !important;
}
a.slider-next svg,
a.slider-prev svg{
	display:  none;
}
.bx-pager-item a{
	height: 12px;
    width: 25px;
    opacity: 0.66 !important;
    border-radius: 6px !important;
    background-color: #EAEAEA !important;
}
.bx-pager-item a.active{
	background-color: #FFFFFF !important;
    opacity: 1 !important;
	width: 50px !important;
}